org: asaldarriaga
service: alertautec-backend

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 30
  stage: dev
  region: us-east-1
  environment:
    WEBSOCKET_SERVICE_NAME: websocket-backend
    STAGE: ${self:provider.stage}
  iam:
    role: arn:aws:iam::258454103606:role/LabRole
  iamRoleStatements:
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
      Resource:
        - arn:aws:lambda:${self:provider.region}:*:function:websocket-backend-${self:provider.stage}-*
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:DeleteItem
        - dynamodb:Scan
        - dynamodb:GetItem
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:*:table/websocket-backend-${self:provider.stage}-connections

functions:

  createIncident:
    handler: student/createIncident.handler
    events:
      - http:
          path: student/incidents
          method: post
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  listIncidents:
    handler: student/listIncidents.handler
    events:
      - http:
          path: student/incidents
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  listMine:
    handler: student/listMine.handler
    events:
      - http:
          path: student/incidents/mine
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  getIncident:
    handler: student/getIncident.handler
    events:
      - http:
          path: student/incidents/{id}
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  uploadAttachment:
    handler: student/uploadAttachment.handler
    events:
      - http:
          path: student/incidents/{id}/attachments
          method: post
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  validateLocation:
    handler: student/validateLocation.handler
    events:
      - http:
          path: student/incidents/validate-location
          method: post
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  previewIncident:
    handler: student/previewIncident.handler
    events:
      - http:
          path: student/incidents/preview
          method: post
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  statsBasic:
    handler: student/statsBasic.handler
    events:
      - http:
          path: student/incidents/stats/basic
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn



  updateStatus:
    handler: staff/updateStatus.handler
    events:
      - http:
          path: staff/incidents/{id}/status
          method: put
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  addComment:
    handler: staff/addComment.handler
    events:
      - http:
          path: staff/incidents/{id}/comment
          method: post
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  assignDepartment:
    handler: staff/assignDepartment.handler
    events:
      - http:
          path: staff/incidents/{id}/assign
          method: post
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  listForDepartment:
    handler: staff/listForDepartment.handler
    events:
      - http:
          path: staff/incidents/by-department
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  getIncidentEvents:
    handler: staff/getIncidentEvents.handler
    events:
      - http:
          path: staff/incidents/{id}/events
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

  staffStats:
    handler: staff/staffStats.handler
    events:
      - http:
          path: staff/incidents/stats
          method: get
          cors: true
          authorizer:
            type: COGNITO
            userPoolArn:
              Fn::GetAtt:
                - CognitoUserPool
                - Arn

resources:
  Resources:

    Incidentes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Incidentes
        AttributeDefinitions:
          - AttributeName: incident_id
            AttributeType: S
        KeySchema:
          - AttributeName: incident_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    IncidenteEventos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: IncidenteEventos
        AttributeDefinitions:
          - AttributeName: incident_id
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: S
        KeySchema:
          - AttributeName: incident_id
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST


    Departamentos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Departamentos
        AttributeDefinitions:
          - AttributeName: departamento_id
            AttributeType: S
        KeySchema:
          - AttributeName: departamento_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    WebSocketConnections:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: websocket-backend-${self:provider.stage}-connections
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: AlertaUTECUserPool
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email
        MfaConfiguration: "OFF"
        Schema:
          - Name: email
            Required: true
            Mutable: false
          - Name: department
            AttributeDataType: "String"
            Mutable: true
            Required: false
          - Name: role
            AttributeDataType: "String"
            Mutable: true
            Required: false
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireUppercase: false
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: false

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: alertaUTEC-app-client
        GenerateSecret: false
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ALLOW_REFRESH_TOKEN_AUTH
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_USER_SRP_AUTH
        PreventUserExistenceErrors: ENABLED

    StudentGroup:
      Type: AWS::Cognito::UserPoolGroup
      Properties:
        GroupName: STUDENT
        UserPoolId:
          Ref: CognitoUserPool

    StaffGroup:
      Type: AWS::Cognito::UserPoolGroup
      Properties:
        GroupName: STAFF
        UserPoolId:
          Ref: CognitoUserPool

    AdminGroup:
      Type: AWS::Cognito::UserPoolGroup
      Properties:
        GroupName: ADMIN
        UserPoolId:
          Ref: CognitoUserPool
