org: martinbonilla
service: alertautec-backend

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 30
  stage: dev
  region: us-east-1
  iam:
    role: arn:aws:iam::492147277453:role/LabRole

resources:
  Resources:

    Incidentes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Incidentes
        AttributeDefinitions:
          - AttributeName: incident_id
            AttributeType: S
        KeySchema:
          - AttributeName: incident_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    IncidenteEventos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: IncidenteEventos
        AttributeDefinitions:
          - AttributeName: incident_id
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: S
        KeySchema:
          - AttributeName: incident_id
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    WebSocketConnections:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: WebSocketConnections
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    Departamentos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Departamentos
        AttributeDefinitions:
          - AttributeName: department_id
            AttributeType: S
        KeySchema:
          - AttributeName: department_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: AlertaUTECUserPool
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email
        MfaConfiguration: "OFF"
        Schema:
          - Name: email
            Required: true
            Mutable: false
          - Name: department
            AttributeDataType: "String"
            Mutable: true
            Required: false
          - Name: role
            AttributeDataType: "String"
            Mutable: true
            Required: false
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireUppercase: false
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: false

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: alertaUTEC-app-client
        GenerateSecret: false
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ALLOW_REFRESH_TOKEN_AUTH
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_USER_SRP_AUTH
        PreventUserExistenceErrors: ENABLED

    StudentGroup:
      Type: AWS::Cognito::UserPoolGroup
      Properties:
        GroupName: STUDENT
        UserPoolId:
          Ref: CognitoUserPool

    StaffGroup:
      Type: AWS::Cognito::UserPoolGroup
      Properties:
        GroupName: STAFF
        UserPoolId:
          Ref: CognitoUserPool

    AdminGroup:
      Type: AWS::Cognito::UserPoolGroup
      Properties:
        GroupName: ADMIN
        UserPoolId:
          Ref: CognitoUserPool