org: asaldarriaga
service: websocket-backend

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  stage: dev
  environment:
    CONNECTIONS_TABLE: ${self:service}-${self:provider.stage}-connections
    WS_ENDPOINT: https://j7aujre4ia.execute-api.${self:provider.region}.amazonaws.com/${self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:DeleteItem
        - dynamodb:Scan
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:*:table/${self:service}-${self:provider.stage}-connections
    - Effect: Allow
      Action:
        - execute-api:ManageConnections
      Resource:
        - arn:aws:execute-api:${self:provider.region}:*:*/*/@connections/*

functions:
  connect:
    handler: handlers/connect.handler
    events:
      - websocket:
          route: $connect

  disconnect:
    handler: handlers/disconnect.handler
    events:
      - websocket:
          route: $disconnect

  default:
    handler: handlers/default.handler
    events:
      - websocket:
          route: $default
